.photos {
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.photos--items {
  display: flex;
  transition: all .2s;
}

.photos--photo {
  position: relative;
}

.photos--title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1em;
  margin: 0;
  text-align: center;
}

.photos--img {
  display: block;
}
