.User {
  border: 1px solid black;
  padding: 1em;
  background-color: lightblue;
  margin: 1em 0;
  text-align: left;
}

.User ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.User h2 {
  margin: 0;
}

.User .username {
  font-style: italic;
}

.User blockquote {
  margin: 0;
  padding: 1em;
  border: 1px solid blue;
  background-color: rgba(255,255,255,.5);
  border-radius: 10px;
}

.User blockquote p {
  margin: 0;
}

.User small {
  font-style: italic;
}
.User small:before {
  content: "-- ";
}
