html {
	font: 16px arial;
	background-color: #c0c0c0;
}

body, h1, h2, p, blockquote, figure {
	margin: 0;
}

.wrapper {
	max-width: 800px;
	min-width: 340px;
	background-color: white;
	margin: 0 auto;
}

header {
	background-color: #33cc99;
	color: #ffffff;
	padding: 2em;
}

article {
	padding: 3em 2em;
}

article h2 {
	text-transform: uppercase;
	font-weight: normal;
	color: #009966;
	letter-spacing: -1px;
}

article p {
	margin: 1em 0;
	line-height: 1.5em;
}

figure {
	border: 2px solid #cccccc;
	padding: 1.8em;
	margin: 1em 0;
	background-color: #eeeeee;
}

figure img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

blockquote {
	margin: 10px 0;
	border-left: 3px solid #009966;
	padding: 10px;
	font-size: 1.5em;
	font-style: italic;
	letter-spacing: -1px;
}

blockquote p {
	margin: 0;
	line-height: 1;
}

footer {
	padding: 10px 20px;
	background-color: #33cc99;
	border-top: 1px solid #000000;
}
