@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
html {
  font: 100% arial;
  font-family: 'Droid Sans', sans-serif;
  background-color: #c0c0c0;
  color: #333;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header {
  background-color: #cc00ff;
  padding: 1em;
}

header h1 {
  margin: 0;
  color: white;
  text-shadow: 0 1px 1px black;
}

article {
  background-color: #fff;
  padding: 1em;
}

p {
  margin: 1em 0;
  line-height: 1.5em;
}

.photo {
  margin: 0;
  border: 2px solid;
  padding: 1em;
  margin-bottom: 1em;
}

.photo.right {
  float: right;
  margin-left: 2em;
}

.photo.left {
  float: left;
  margin-right: 2em;
}

.photo > img {
  display: block;
}

h2 {
  clear: both;
}

@media screen and (min-width: 1000px) {
  .photo.right.break-layout {
    margin-right: -100px;
    margin-top: -2em;
    margin-left: 0;
    border: none;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 20px;
  }
}















/**/
