html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px arial;
  background-color: rebeccapurple;
}

h2 {
  margin: 0;
  color: rebeccapurple;
}

code {
  background-color: #d9a8ce;
  padding: 2px 3px;
  color: rebeccapurple;
  border-radius: 2px;
  font-size: .8em;
}

.wrapper {
  padding: 2em;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

*::after {
  font: bold 1em monospace;
  color: rebeccapurple;
  white-space: no-wrap;
  display: block;
}

.static:after {
  content: "{ position: static; }";
}

.relative:after {
  content: "{ position: relative; }";
}

.absolute:after {
  content: "{ position: absolute; }";
}

.fixed:after {
  content: "{ position: fixed; }";
}

p[class] {
  border: 1px solid rebeccapurple;
  padding: 1em;
}

p {
  background-color: #fff;
}

p + div {
  background-color: lightgray;
}

.static {
  position: static;
  top: 30px;
}

.relative {
  position: relative;
  top: 10px;
  right: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

article {
  background-color: #bada55;
}

.nested {
  height: 400px;
  background-color: #bada55;
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  right: 100px;
  left: 100px;
  margin: 0;
  z-index: 10;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*.overlay {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}*/


















/**/
